# Exclude files in uploads/
uploads/*
Results/Angle/*
Results/angular_acc/*
Results/frailty_index/*
Results/gif_files/*

# But keep the folder
!uploads/.gitkeep
!Results/Angle/.gitkeep
!Results/angular_acc/.gitkeep
!Results/frailty_index/.gitkeep
!Results/gif_files/.gitkeep

# Python junk
__pycache__/
*.pyc

# IDE/conda/venv
.env
*.env
*.ipynb_checkpoints/
.vscode/
.idea/

# Ignore old/deprecated code and HTML
main.py
main2.py
main_file.py
mohammad_signal_analysis_old.py
requirements_old.txt
templates/index_old*